.git
.gitignore
.venv
**/__pycache__
*.py[cod]
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
*.egg-info
build
dist
tests
docs
*.md
.github
.pre-commit-config.yaml
.env
*.env
*service-account*.json
*credentials*.json
